<h1>Comments</h1>

{{#if comments.length}}
  {{#each comments}}
    <div class="comment-card">
      <div class="comment-author">
        <a href="/user/{{this.user_id}}/comments">
          {{this.display_name}}
        </a>
      </div>

      <div class="comment-date">
        {{this.created_at}}
      </div>

      {{#if (gt (strlen this.text) 200)}}
        <p>{{substring this.text 0 200}}...</p>
        <details>
          <summary>Read more</summary>
          <p>{{this.text}}</p>
        </details>
      {{else}}
        <p>{{this.text}}</p>
      {{/if}}

      {{#if (eq ../user.id this.user_id)}}
        <a href="/comment/{{this.id}}/edit">
          <button type="button">Edit</button>
        </a>

        <form method="POST" action="/comment/{{this.id}}/delete">
          <button>Delete</button>
        </form>
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <p>No comments yet.</p>
{{/if}}

{{#if user}}
  <a href="/comment/new"><button>Post a new comment</button></a>
{{else}}
  <p><a href="/login">Login</a> to comment.</p>
{{/if}}

<div class="pagination">
  {{#if hasPrev}}
    <a href="/comments?page={{decrement page}}">Previous</a>
  {{/if}}

  <span>Page {{page}} of {{totalPages}}</span>

  {{#if hasNext}}
    <a href="/comments?page={{increment page}}">Next</a>
  {{/if}}
</div>